services:
  bootstrap:
    build: .
    container_name: dht-bootstrap
    command: ["-genesis", "-port", "8080", "-http", "8000"]
    networks:
      - dht-network
    ports:
      - "8080:8080/udp"
      - "8000:8000"
    restart: unless-stopped

  dht-node:
    build: .
    command: ["-port", "8080", "-http", "8000", "-bootstrap", "bootstrap:8080"]
    networks:
      - dht-network
    depends_on:
      - bootstrap
    
    ports:
      - "8080/udp"
      - "8000"
    
    restart: unless-stopped

networks:
  dht-network:
    driver: bridge